.desktop6-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop6-desktop6 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(42, 47, 61, 1);
}
 
.desktop6-button1 {
  gap: 8px;
  top: 557px;
  left: 397px;
  width: 269px;
  height: 205px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(55, 70, 91, 1);
}
 
.desktop6-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Jockey One;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-button2 {
  gap: 8px;
  top: 557px;
  left: 760px;
  width: 259px;
  height: 214px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(55, 70, 91, 1);
}
 
.desktop6-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Jockey One;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-button3 {
  gap: 8px;
  top: 281px;
  left: 752px;
  width: 276px;
  height: 205px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(55, 70, 91, 1);
}
 
.desktop6-text18 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Jockey One;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-button4 {
  gap: 8px;
  top: 281px;
  left: 397px;
  width: 282px;
  height: 212px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(55, 70, 91, 1);
}
 
.desktop6-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Jockey One;
  font-weight: 400;
  line-height: 34px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-text26 {
  top: 184px;
  left: 367px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Medium;
  text-align: left;
  font-family: Roboto;
  font-weight: 500;
  line-height: 64px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-gtranslate {
  top: 15px;
  left: 1378px;
  width: 48px;
  height: 44px;
  position: absolute;
}
 
.desktop6-button5 {
  gap: 8px;
  top: 826px;
  left: 1139px;
  width: 135px;
  height: 85px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 103, 50, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop6-text27 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-button6 {
  gap: 8px;
  top: 826px;
  left: 148px;
  width: 143px;
  height: 85px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop6-text28 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-group1 {
  top: 23px;
  left: 57px;
  width: 192px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
 
.desktop6-rectangle18 {
  top: 9px;
  left: 0px;
  width: 192px;
  height: 48px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop6-text29 {
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Righteous;
  font-weight: 400;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-text30 {
  top: 88px;
  left: 219px;
  color: rgba(255, 103, 50, 1);
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Regular;
  text-align: center;
  font-family: Gidugu;
  font-weight: 400;
  line-height: 100px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop6-rectangle27 {
  top: 964px;
  left: 1440px;
  width: 1440px;
  height: 65px;
  opacity: 0.85;
  position: absolute;
}
