.desktop17-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Elimina la barra de desplazamiento horizontal */
  width: 100 w; /* Asegura que no se extienda más del ancho de la pantalla */
}
.desktop17-desktop17 {
  width: 107%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(42, 47, 61, 1);
  transform: scale(0.90); /* Ajusta el zoom (reduce el tamaño para que se vea completo) */
  margin-left: -2%; /* Recorta el lado izquierdo */
  max-width: 114vw; /* Evita que el contenedor sobrepase el ancho de la pantalla */









}
 
.desktop17-rectangle33 {
  top: 0px;
  left: -3px;
  width: 1443px;
  height: 123px;
  position: absolute;
}
 
.desktop17-group2 {
  top: 24px;
  left: 65px;
  width: 192px;
  height: 63px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.desktop17-rectangle18 {
  top: 9px;
  left: 0px;
  width: 192px;
  height: 48px;
  position: absolute;
  border-radius: 5px;
}
 
.desktop17-text10 {
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: center;
  font-family: Righteous;
  font-weight: 400;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-gtranslate {
  top: 34px;
  left: 1358px;
  width: 49px;
  height: 48px;
  position: absolute;
}
 
.desktop17-button10 {
  gap: 8px;
  top: 33px;
  left: 319px;
  width: 208px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: rgba(6, 6, 6, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop17-mobilefriendly {
  width: 16px;
  height: 16px;
}
 
.desktop17-text11 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-button11 {
  gap: 8px;
  top: 32px;
  left: 564px;
  width: 213px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop17-settings {
  width: 16px;
  height: 16px;
}
 
.desktop17-text12 {
  color: rgba(253, 232, 231, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-button12 {
  gap: 8px;
  top: 35px;
  left: 1258px;
  width: 52px;
  height: 47px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 103, 50, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 0);
}
 
.desktop17-user {
  width: 28px;
  height: 23px;
  flex-grow: 1;
  align-self: stretch;
}
 
.desktop17-button13 {
  gap: 8px;
  top: 34px;
  left: 1174px;
  width: 52px;
  height: 47px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 103, 50, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 0);
}
 
.desktop17-messagesquare {
  width: 28px;
  height: 23px;
  flex-grow: 1;
  align-self: stretch;
}
 
.desktop17-button14 {
  gap: 8px;
  top: 34px;
  left: 1079px;
  width: 52px;
  height: 47px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 103, 50, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 0);
}
 
.desktop17-bell {
  width: 28px;
  height: 23px;
  flex-grow: 1;
  align-self: stretch;
}
 
.desktop17-frame4 {
  top: 209px;
  left: 72px;
  width: 1297px;
  height: 717px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(75, 91, 111, 1);
}
 
.desktop17-button15 {
  gap: 8px;
  top: 195px;
  left: 31px;
  width: 333px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(44, 44, 44, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop17-text13 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Medium;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-button16 {
  gap: 8px;
  top: 271px;
  left: 31px;
  width: 333px;
  height: 56px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(44, 44, 44, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop17-text14 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Medium;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-button17 {
  gap: 8px;
  top: 347px;
  left: 31px;
  width: 333px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(44, 44, 44, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop17-text15 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Medium;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-button18 {
  gap: 8px;
  top: 423px;
  left: 31px;
  width: 333px;
  height: 56px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(44, 44, 44, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop17-text16 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Medium;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text17 {
  top: 82px;
  left: 419px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text18 {
  top: 403px;
  left: 419px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-button19 {
  gap: 8px;
  top: 599px;
  left: 1097px;
  width: 125px;
  display: flex;
  padding: 12px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  border-color: rgba(44, 44, 44, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 103, 50, 1);
}
 
.desktop17-text19 {
  color: rgba(245, 245, 245, 1);
  height: auto;
  font-size: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Medium;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text20 {
  top: 137px;
  left: 419px;
  color: rgba(0, 199, 190, 1);
  width: 442px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto Slab;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-frame7 {
  top: 458px;
  left: 419px;
  width: 835px;
  height: 103px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
 
.desktop17-frame8 {
  top: 0px;
  left: 0px;
  width: 835px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(117, 117, 117, 1);
}
 
.desktop17-text21 {
  top: 9px;
  left: 37px;
  color: rgba(255, 255, 255, 1);
  width: 45px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text22 {
  top: 12px;
  left: 196px;
  color: rgba(255, 255, 255, 1);
  width: 106px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text23 {
  top: 12px;
  left: 393px;
  color: rgba(255, 255, 255, 1);
  width: 207px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text24 {
  top: 12px;
  left: 654px;
  color: rgba(255, 255, 255, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text25 {
  top: 64px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text26 {
  top: 63px;
  left: 187px;
  color: rgba(0, 0, 0, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text27 {
  top: 64px;
  left: 419px;
  color: rgba(0, 0, 0, 1);
  width: 156px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text28 {
  top: 66px;
  left: 678px;
  color: rgba(0, 0, 0, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text29 {
  top: 197px;
  left: 430px;
  color: rgba(255, 255, 255, 1);
  width: 846px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text30 {
  top: 259px;
  left: 400px;
  color: rgba(255, 255, 255, 1);
  width: 841px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto Condensed;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
 
.desktop17-text36 {
  top: 146px;
  left: 72px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Righteous;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
